:root {
    --primary-bg: #E2E8F4;
    --accent: #FC815F;
    --text-color: #13315C;
    --secondary-accent: #4C7FE6;
    --tertiary-accent: #80A4ED;
    --body-text: #333333;
    --bg-image-shadow: #13A1D01A;
    --nav-bg: #FAF9F6;
    --nav-text: #13315C;
    --nav-shadow: #9DD7EC1A;
    --underline-stroke: #FC815F; 
    --body-title-font: 'Roboto', Arial, sans-serif;
    --sub-title-font: 'Playfair', Arial, sans-serif;
    --sec-sub-title-font: 'Lexend', Arial, sans-serif;
    --title-font: 'Island Moments', Arial, sans-serif;
    --font-default: 16px;
    --cta-gradient-accent: #E9A112;
    --cta-text: #FFFFFF;
    --cta-bg: #FC815F;
    --cta-modal: #84838380;
    --social-bg: #9FB5E3;
    --social-text: #13315C;
    --cform-bg: #E2E8F4;
    --cform-error: #9D0000;
    --cform-confirmation: #065906;
    --cform-title: #13315C;
    --cform-subtitle: #13315C;
    --contact-bg: #0000001A;
    --contact-header-p: #666666;
    --contact-form-group: #CCCCCC;
    --card-bg: white;
    --card-shadow: #0000001A;
    --card-top-bg: #1155B21A;
    --card-top-text: #1155B2;
    --card-content-bg: #1155B21A;
    --card-bottom-av-name: #13315C;
    --card-bottom-av-title: #134074;
    --card-bottom-av-date: #1F6BC1;
    --card-container-bg: #F4F4F4;
    --flip-card-steps-text: #333333;
    --flip-card-services: #E2E8F4;
    --flip-card-shadow: #00000033;
    --flip-card-text: #555555;
    --flip-card-steps: #0000001A;
    --flip-card-steps-icon: white;
    --tooltip: white;
    --timeline-bg: #FF9F55;
    --timeline-bb: white;
    --work-content: #F9F0EA;
    --work-position: #13315C;
    --work-years: #151515;
}

/* ****************************************
   Global Styles
   **************************************** */
* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

html {
    scroll-behavior: smooth;
}

body {
    font-family: var(--body-title-font);
    font-size: var(--font-default);
    background-image: url(../assets/images/background-hero.svg);
    background-repeat: no-repeat;
    background-size: 100%;
    color: var(--body-text);
    line-height: 1.6;
}

/* ****************************************
   Top Navigation
   **************************************** */
.top-nav {
    position: fixed;
    top: 0;
    width: 100%;
    background-color: var(--nav-bg);
    box-shadow: 2px 4px 0 var(--nav-shadow);
    z-index: 1000;
}

.nav-container {
    display: flex;
    align-items: center;
    justify-content: space-between;
    max-width: 1200px;
    margin: 0 auto;
    padding: 0.5rem 1rem;
}

.logo a {
    text-decoration: none;
    font-size: 1rem;
    font-weight: 500;
    color: var(--nav-text);
}

.nav-links {
    list-style: none;
    display: flex;
    align-items: center;
}

.nav-links li {
    margin-left: 1.5rem;
}

.nav-links a {
    text-decoration: none;
    color: var(--nav-text);
    transition: color 0.3s ease;
}

.nav-links a:hover {
    color: var(--accent);
}

.logo a {
    display: inline-flex;
    align-items: end;
    white-space: nowrap;
}

.betina-logo {
    width: 2rem;
    height: 2rem;
    margin: 0 0.3rem 0 0.1rem;
}

/* ****************************************
   Hamburger Menu for Mobile
   **************************************** */
.hamburger {
    display: none;
}

/* ****************************************
   Fixed background image
   **************************************** */
.background-img {
    position: absolute;
    bottom: 0px;
    left: 0px;
    right: 0px;
    width: 100%;
    box-shadow: 2px 4px 0 var(--bg-image-shadow);
    z-index: -1;
    pointer-events: none;
}

.background-img img {
    display: table;
    position: relative;
    margin: auto;
}

/* ****************************************
   Header Section
   **************************************** */
.nav-spacer {
    height: 70px; 
}

.hero {
    width: 100%;
    min-height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding-top: calc(70px + 1.5rem);
}

.hero-text {
    text-align: center;
    width: 100%;
}

.hero-text h1 .part-roboto {
    font-family: var(--body-title-font);
    font-style: italic;
    font-weight: lighter;
    font-size: clamp(1.8rem, 1.5rem + 1.1vw, 3rem);
    color: var(--text-color);
}

.hero-text h1 .part-island {
    font-family: var(--title-font);
    font-size: clamp(12rem, 6.6rem + 12vw, 18rem);
    font-style: normal;
    font-weight: lighter;
    line-height: 1rem;
    color: var(--text-color);
}

.hero-text .hero-text-subtitle {
    font-family: var(--sub-title-font);
    font-size: clamp(2rem, 1.5692rem + 2.238vw, 3.5rem);
    color: var(--secondary-accent);
    font-weight: bold;
    line-height: 10rem;
}

.hero-text p.title {
    font-family: var(--sec-sub-title-font);
    font-size: clamp(1.8rem, 4vw, 2.5rem);
    font-style: normal;
    color: var(--text-color);
    font-weight: bold;
    padding: 0 2rem;
}

.hero-text p.title .title-break-last {
    display: inline;
}

.hero-text p.sub-title {
    font-family: var(--body-title-font);
    font-size: clamp(1.1rem, 2.7vw, 1.5rem);
    font-style: normal;
    color: var(--text-color);
    max-width: 80%;
    margin: 0 auto;
    padding: 0 1rem;
    padding-top: 1rem;
}

.quality-highlight {
    color: var(--accent);
    position: relative;
    z-index: 1;
}

.underline-animation {
    text-decoration: none;
    position: relative;
    white-space: nowrap;
}

.underline-animation svg {
    position: absolute;
    top: 90%;
    left: 0;
    width: 100%;
    height: auto;
}

.underline-animation .stroke {
    stroke: var(--underline-stroke);
    stroke-width: .09em;
    stroke-dasharray: 822;
    stroke-dashoffset: 822;
    animation: underlineAnimation 1.8s 1s linear forwards;
}

@keyframes underlineAnimation {
    from {
        stroke-dashoffset: 822;
    }

    to {
        stroke-dashoffset: 0;
    }
}

.cta-button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--cta-gradient-accent), transparent) var(--accent);
    color: var(--cta-text);
    border-radius: 25px;
    border: none;
    font-size: clamp(1rem, 3vw, 1.2rem);
    transition: background-color 1s ease;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 2rem;
    gap: 0.5rem;
    white-space: nowrap;
}

.cta-button i {
    pointer-events: none;
}

.cta-button:hover,
.cta-button:focus {
    background: linear-gradient(90deg, var(--secondary-accent), transparent) var(--tertiary-accent);
}

.hero-cta .cta-get-in-touch {
    white-space: nowrap;
    margin: auto;
    margin-top: 3rem;
}

/* *********************************************************************
   Services, 1:1, Hire Betina, LinkedIn Recommendations Title Sections
   ********************************************************************* */
.services-section,
.linkedin-rec-section {
    width: 100%;
    padding-bottom: 3rem;
}

.services-content,
.hire-me-content,
.linkedin-rec-content {
    max-width: 1200px;
    margin: 0 auto;
    display: flex;
    align-items: center;
    justify-content: space-between;
    flex-wrap: wrap;
}

.services-text,
.hire-me-text,
.linkedin-rec-text {
    flex: 1 1 500px;
    padding: 1.8rem;
}

.services-text .services-h1,
.hire-me-text .hire-h1,
.linkedin-rec-text .linkedin-h1 {
    display: flex;
    font-size: 3rem;
    margin-bottom: 0.5rem;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-text .services-h1::before,
.services-h1::after,
.hire-me-text .hire-h1::before,
.hire-h1::after,
.linkedin-rec-text .linkedin-h1::before,
.linkedin-h1::after {
    content: "";
    flex: 1;
    border-top: 2px solid var(--accent);
    margin: 0 10px;
}

.services-text h2 {
    font-size: clamp(1.5rem, 3.5vw, 2rem);
    margin-bottom: 1.5rem;
    color: var(--secondary-accent);
}

.services-text p,
.hire-me-text p {
    font-size: clamp(1rem, 3.5vw, 1.5rem);
}

/* ****************************************
   Consulting Text Section
   **************************************** */
.services-text {
    max-width: 1200px;
    margin: 0 0 3rem;
    display: flex;
    flex-direction: column;
    gap: 30px;
}

.service-container {
    display: flex;
    align-items: center;
    gap: 20px;
}

.service-container.reverse {
    flex-direction: row-reverse;
}

.service-container:not(.reverse) .service-text {
    text-align: left;
}

.service-container.reverse .service-text {
    text-align: right;
}

.service-icon-circle {
    width: 90px;
    height: 90px;
    background-color: var(--primary-bg);
    border-radius: 50%;
    display: flex;
    align-items: center;
    justify-content: center;
    color: var(--cform-subtitle);
    font-size: 40px;
    flex-shrink: 0;
}

.service-container .services-text p {
    padding: 5rem;
}

.services-cards-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    gap: 20px;
}

.services-flip-card {
    background-color: transparent;
    width: 350px;
    height: 450px;
    perspective: 1000px;
    cursor: pointer;
}

.services-flip-card-inner {
    position: relative;
    width: 100%;
    height: 100%;
    transition: transform 0.8s;
    transform-style: preserve-3d;
}

.services-flip-card-inner.flipped,
.services-flip-card:hover .services-flip-card-inner {
    transform: rotateY(180deg);
}

.services-flip-card-front,
.services-flip-card-back {
    position: absolute;
    width: 100%;
    height: 100%;
    -webkit-backface-visibility: hidden;
    backface-visibility: hidden;
    border-radius: 10px;
    background-color: var(--flip-card-services);
    padding: 20px;
    box-shadow: 0 4px 8px var(--flip-card-shadow);
}

.services-flip-card-front {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
}

.services-flip-card-back {
    transform: rotateY(180deg);
}

.services-flip-card-front h3 {
    font-size: 2rem;
    margin-bottom: 10px;
    color: var(--text-color);
}

.services-flip-card-back h3 {
    font-size: 1.5rem;
    color: var(--card-top-text);
    text-align: center;
    padding-top: 0.5rem;
}

.services-flip-card-back .services-icon-container {
    margin: 0;
}

.services-flip-card-back .services-icon-container .wcag img {
    width: auto;
    height: 44px;
    background-blend-mode: lighten;
}

.services-flip-card-front p {
    font-size: 1.5rem;
    color: var(--flip-card-text);
}

.services-steps-container {
    display: flex;
    flex-wrap: wrap;
    gap: 15px;
    justify-content: center;
    margin: 1rem 0;
}

.services-step {
    background: var(--primary-bg);
    border-radius: 8px;
    padding: 5px;
    flex: 1 1 calc(45% - 15px);
    display: flex;
    align-items: center;
    transition: transform 0.3s, box-shadow 0.3s;
    margin: 1rem 0;
}

.services-step:hover {
    transform: translateY(-5px);
    box-shadow: 0 4px 10px var( --flip-card-steps);
}

.services-step-icon {
    background: var(--secondary-accent);
    color: var(--flip-card-steps-icon);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    margin-right: 10px;
    flex-shrink: 0;
    font-size: 18px;
}

.services-step-text {
    font-size: 1rem;
    color: var(--flip-card-steps-text);
}

.services-icon-list {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(200px, 1fr));
    gap: 6px;
}

.services-icon-item {
    display: flex;
    align-items: center;
}

.services-icon-item img {
    width: 38px;
    height: 38px;
    margin-right: 10px;
}

.services-icon-item span {
    font-size: 1rem;
}

/* ****************************************
   Hire Me Section
   **************************************** */
.services-section, 
.hire-me-section {
    scroll-margin-top: 70px;
}

.hire-me-intro {
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    margin-top: 1.5%;
    margin-bottom: 4%;
}

.hire-me-resume {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 1rem;
    flex-wrap: wrap;
}

.hire-me-resume .cta-get-in-touch {
    font-family: var(--body-title-font);
    font-size: clamp(1rem, 3vw, 1.2rem);
}

.cta-button-secondary {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: transparent;
    color: var(--accent);
    border-radius: 25px;
    border: 2px solid var(--accent);
    transition: border-color 1s ease;
    text-decoration: none;
    cursor: pointer;
    padding: 1rem 2rem;
    gap: 0.5rem;
    white-space: nowrap;
    margin: 1rem;
}

.cta-button-secondary:hover,
.cta-button-secondary:focus {
    color: var(--cta-text);
    background-color: var(--accent);
}

.preview-modal {
    display: none;
    position: fixed;
    z-index: 1000;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: var(--cta-modal);
}

.preview-modal-content {
    background-color: var(--card-container-bg);
    margin: 5% auto;
    padding: 20px;
    border-radius: 5px;
    width: 80%;
    max-width: 800px;
    position: relative;
}

.close {
    color: var(--cform-title);
    background-color: var(--accent);
    border-radius: 50%;
    width: 40px;
    height: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    position: absolute;
    top: 10px;
    right: 15px;
    font-size: 28px;
    cursor: pointer;
}

.close:hover {
    color: var(--cta-text);
}

iframe {
    width: 100%;
    height: 500px;
    border: none;
}

.hire-me-skills {
    font-size: clamp(1rem, 3.5vw, 1.5rem);
    color: var(--nav-text);
}

.hire-me-subtitle {
    font-size: clamp(1rem, 3.5vw, 2rem);
    margin-bottom: 2rem;
}

.services-icon-container {
    display: flex;
    flex-wrap: wrap;
    gap: 20px;
    justify-content: center;
    margin-bottom: 2rem;
}

.services-icon-container .services-icon {
    font-size: 44px;
    cursor: pointer;
    transition: transform 0.2s;
    position: relative;
}

.services-icon-container .services-icon:hover {
    transform: scale(1.1);
}

.services-icon-container .services-icon img {
    width: 44px;
    height: 44px;
}

.tooltip {
    position: absolute;
    background-color: var(--flip-card-steps-text);
    color: var(--tooltip);
    padding: 5px 10px;
    border-radius: 4px;
    font-size: 14px;
    pointer-events: none;
    opacity: 0;
    transition: opacity 0.2s;
    white-space: nowrap;
    z-index: 1000;
}

.timeline {
    position: relative;
    max-width: 1200px;
    margin: 0 auto;
}

.timeline::after {
    content: '';
    position: absolute;
    width: 3px;
    background-color: var(--timeline-bg);
    top: 0;
    bottom: 0;
    left: 30px;
    margin-left: -3px;
}

.timeline-container {
    display: flex;
    padding: 10px 40px;
    background-color: inherit;
    position: relative;
}

.timeline-container::after {
    content: '';
    position: absolute;
    width: 15px;
    height: 15px;
    left: 17px;
    background-color: var(--timeline-bb);
    border: 4px solid var(--timeline-bg);
    top: 15px;
    border-radius: 50%;
    z-index: 1;
}

.content {
    padding: 20px 30px;
    background-color: var(--work-content);
    position: relative;
    border-radius: 6px;
}

.work-position {
    font-size: 1.8rem;
    color: var(--work-position);
}

.work-years {
    font-size: 1.2rem;
    color: var(--work-years);
}

.work-logos {
    display: inline-block;
    vertical-align: middle;
    height: 1.3rem;
    margin: 0 0.3rem 0 0.5rem;
}

.work-gg-logos {
    display: inline-block;
    vertical-align: middle;
    width: 4rem;
    height: 4rem;
    margin: 0 0.3rem 0 0.8rem;
}

.work-location {
    opacity: 0.8;
}

.work-summary {
    margin-top: 1.5%;
}

/* ****************************************
   LinkedIn recommendations Section
   **************************************** */
.linkedin-logo {
    width: 10rem;
    height: 10rem;
    margin: 0 0.8rem 0 0.1rem;
}

.linkedin-card-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: flex-start;
    overflow-x: auto;
    gap: 0;
    padding: 1.5rem;
    margin: 1rem 1rem;
}

.linkedin-card {
    background-color: var(--card-bg);
    border-radius: 8px;
    box-shadow: 0 4px 8px var(--card-shadow);
    margin: 10px;
    transition: transform 0.2s;
    width: 280px;
    overflow: hidden;
    box-sizing: border-box;
}

.linkedin-card:hover {
    transform: scale(1.05);
}

.linkedin-card-top {
    padding: 0.6rem;
}

.linkedin-card-top span {
    background-color: var(--card-top-bg);
    color: var(--card-top-text);
    padding: 3px;
    border-radius: 5px;
}

.linkedin-card-content {
    padding: 20px;
    background-color: var(--card-content-bg);
}

.linkedin-truncated-content {
    display: -webkit-box;
    -webkit-box-orient: vertical;
    -webkit-line-clamp: 5;
    line-clamp: var(-webkit-line-clamp);
    overflow: hidden;
    text-overflow: ellipsis;
    line-height: 1.5;
    max-height: 7.5em;
    margin-bottom: 1rem;
}

.linkedin-full-content {
    display: none;
    margin-bottom: 1rem;
    line-height: 1.5;
}

.linkedin-read-more,
.linkedin-hide {
    font-size: 0.9em;
    text-decoration: none;
}

.linkedin-read-more:hover,
.linkedin-hide:hover {
    text-decoration: underline;
}

.linkedin-card-bottom {
    padding: 1rem;
    display: flex;
}

.linkedin-avatar-logo {
    margin-right: 0.6rem;
}

.linkedin-avatar {
    width: 50px;
    height: 50px;
    border-radius: 50%;
}

.linkedin-avatar-icon {
    width: 10px;
    height: 10px;
}

.linkedin-name {
    color: var(--card-bottom-av-name);
    font-weight:400;
}

.linkedin-title {
    color: var(--card-bottom-av-title);
    font-size: 0.9em;
}

.linkedin-date {
    color: var(--card-bottom-av-date);
    font-size: 0.8em;
}

/* ****************************************
   Contact button for Desktop
   **************************************** */
.contact-menu-item a {
    display: inline-block;
    background: var(--cta-bg);
    color: var(--cta-text);
    padding: 0.5rem 1.5rem;
    border-radius: 25px;
    font-size: 1rem;
    text-decoration: none;
    white-space: nowrap;
}

.contact-menu-item a:hover {
    color: var(--cta-text);
}

.mobile-contact {
    font-family: var(--body-title-font);
    font-size: 16px;
}

/* ****************************************
   Contact Section
   **************************************** */
.contact-section {
    scroll-margin-top: 80px;
    max-width: 1200px;
    margin: 0 auto;
    margin-bottom: 6rem;
    padding: 3rem 1rem;
    background-color: var(--cform-bg);
    box-shadow: 0 2px 8px var(--contact-bg);
    border-radius: 20px;
}

.contact-intro {
    text-align: center;
    margin-bottom: 2rem;
}

.contact-intro .contact-h1 {
    font-size: 2.5rem;
    margin-bottom: 1rem;
    color: var(--cform-title);
}

.contact-subheadline {
    font-size: 1.1rem;
    color: var(--cform-subtitle);
}

.contact-form {
    display: flex;
    flex-direction: column;
    gap: 1.5rem;
}

.cf-form-row {
    display: flex;
    flex-wrap: wrap;
    gap: 1rem;
}

.form-group {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.form-group.full-width {
    flex: 1 1 100%;
}

.form-group label {
    margin-bottom: 0.3rem;
}

.form-group input,
.form-group textarea {
    padding: 0.8rem;
    border: 1px solid var(--contact-form-group);
    border-radius: 6px;
    font-size: 1rem;
}

.form-group textarea {
    resize: vertical;
    min-height: 100px;
}

.checkboxes {
    flex-direction: column;
    font-size: 1rem;
}

.checkboxes .form-group {
    flex-direction: row;
    align-items: center;
    gap: 0.5rem;
}

.checkboxes .form-group label {
    margin: 0;
}

.cf-form-row .cta-get-in-touch {
    width: 40%;
    margin: auto;
    margin-top: 3rem;
}

input.error,
textarea.error {
    border: 1.5px solid var(--cform-error);
}

.error-message {
    color: var(--cform-error);
}

.summary-message {
    font-size: 1.1rem;
    padding: 1rem;
    text-align: center;
    margin-top: 0.25rem;
}

.confirmation-message {
    color: var(--cform-confirmation);
}

/* ****************************************
   Social Section
   **************************************** */
.social-section {
    display: flex;
    align-items: flex-start;
    justify-content: space-between;
    padding: 2rem 1rem;
    background-color: var(--social-bg);
}

.social-container {
    padding: 1rem;
}

.social-left {
    text-align: left;
    color: var(--social-text);
}

.social-left .social-h1 {
    font-size: clamp(1.8rem, 5vw, 2.5rem);
    margin-bottom: 0.5rem;
}

.email-copy {
    display: inline-flex;
    align-items: center;
    gap: 0.5rem;
    margin-bottom: 1rem;
    font-size: clamp(0.9rem, 3.5vw, 1.2rem);
}

.copy-email {
    position: relative;
    background: none;
    border: none;
    cursor: pointer;
    font-size: 1.3rem;
    padding: 0;
    color: var(--social-text);
}

.copy-email:hover {
    color: var(--accent);
}

.copy-feedback {
    position: absolute;
    left: 320px;
    margin-left: 0.5rem;
    opacity: 0;
    display: inline-flex;
    justify-content: center;
    align-items: center;
    background: linear-gradient(90deg, var(--cta-gradient-accent), transparent) var(--cta-bg);
    color: var(--cta-text);
    padding: 0.8rem;
    text-decoration: none;
    border-radius: 5px;
    border: none;
    font-size: 0.9rem;
    transition: opacity 0.3s ease;
    gap: 0.5rem;
}

.social-links {
    display: flex;
    flex-wrap: wrap;
}

.social-image {
    max-width: 60px;
    flex: 1 1 100px;
    padding: 0.3rem;
    display: inline-flex;
}

.social-image img {
    max-width: 100%;
    height: auto;
    border-radius: 8px;
    margin-top: 0.5rem;
    transition: transform 0.3s ease;
}

.social-overlay:hover {
    transform: scale(1.1);
}

.social-right {
    text-align: right;
}

.certification-logo {
    color: var(--nav-text);
    display: flex;
    flex-direction: column;
    align-items: flex-end;
    justify-content: flex-start;
}

.certification-logo .certification-h1 {
    font-size: clamp(1rem, 3vw, 2rem);
    text-wrap-mode: nowrap;
}

.certification-logo img {
    max-width: 100%;
    width: 100px;
}

/* ****************************************
   Footer Section
   **************************************** */
footer {
    text-align: center;
    padding: 1rem;
    background-color: var(--primary-bg);
    color: var(--nav-text);
}

/* ****************************************
   Responsive configuration
   **************************************** */
@media screen and (max-width: 880px) {
    .nav-container {
        display: flex;
        align-items: center;
        justify-content: space-between;
    }

    .nav-links {
        display: none;
        flex-direction: column;
        width: 100%;
        background-color: var(--nav-bg);
        position: absolute;
        top: 60px;
        left: 0;
        padding: 1rem 0;
        gap: 1rem;
        text-align: center;
        margin-top: 0.5rem;
    }

    .nav-links.active {
        display: flex;
    }

    .hamburger {
        display: block;
        background: none;
        border: none;
        font-size: 2rem;
        color: var(--nav-text);
        margin-left: auto;
        cursor: pointer;
    }

    .hamburger:hover {
        color: var(--accent);
    }
    .hire-me-skills .services-icon {
        padding-bottom: 50px;
        padding-right: 30px;
    }
}

@media screen and (max-width: 768px) {
    .hero {
        flex-direction: column;
        text-align: center;
    }

    .hero-text {
        padding: 1rem;
        max-width: 800px;
        margin: 0 auto;
    }

    .hero-text h1 .part-island {
        font-size: clamp(9.5rem, 16vw, 10rem);
    }

    .hero-text p.title .title-break-last {
        display: block;
    }

    .service-container,
    .service-container.reverse {
        flex-direction: column;
        align-items: flex-start;
        text-align: center;
    }

    .service-container.reverse .service-text {
        text-align: left;
    }

    .service-text h2 {
        text-align: center;
    }

    .service-icon-circle {
        width: 72px;
        height: 72px;
        font-size: 32px;
        align-self: center;
    }

    .cf-form-row {
        flex-direction: column;
    }

    .linkedin-card {
        flex: 1 1 calc(50% - 40px);
    }

    .services-text .services-h1,
    .hire-me-text .hire-h1,
    .linkedin-rec-text .linkedin-h1 {
        font-size: clamp(2rem, 5vw, 2.5rem);
    }

    .services-icon:not(.wcag) {
        width: 36px;
        height: auto;
    }

    .services-flip-card-back .services-icon-container .wcag  img{
        width: auto;
        height: 40px;
        background-blend-mode: lighten;
    }

    .preview-modal iframe {
          height: 400px;
    }

    .linkedin-logo {
        width: 7rem;
        height: 7rem;
        margin: 0 0.8rem 0 0.1rem;
    }

    .certification-logo img {
        max-width: 100%;
        width: 80px;
    }
}

@media screen and (max-height: 674px) {
    .background-img img {
      display: none;
    }
  }

@media screen and (max-width: 568px) {
    .nav-spacer {
        height: 0px; 
    }

    .linkedin-card {
        flex: 1 1 calc(100% - 40px);
    }

    .linkedin-logo {
        display: none;
    }

    .social-section {
        flex-direction: column;
        align-items: center;
    }

    .social-container {
        width: 100%;
        text-align: center;
        align-items: center;
    }

    .social-links {
        justify-content: center;
    }

    .social-right {
        margin-top: 1rem;
    }

    .certification-logo {
        display: inline-flex;
        align-items: center;
        justify-content: center;
        gap: 0.5rem;
    }

    .certification-logo .certification-h1 {
        font-size: 1.5rem;
        margin: 0;
    }

    .certification-logo img {
        width: 50px;
        height: auto;
        margin: 0;
    }
}

@media screen and (max-width: 550px) {
    .contact-intro .contact-h1 .contact-break-last {
        display: inline-block;
    }
}

@media screen and (max-width: 530px) {
    .copy-feedback {
        left: 100px;
    }

    .hero-text .hero-text-subtitle {
        font-size: clamp(2.5rem, 5vw, 4rem);
    }
}

@media screen and (max-width: 480px) {
    .background-img{
        display: none;
    }

    .hero-text h1{
        line-height: 5rem;
    }

    .hero-text .hero-text-subtitle {
        font-size: 2rem;
        line-height: 6rem;
    }
    
    .hero-text p.title {
        font-size: 1.5rem;
        line-height: 2.5rem;
    }

    .services-text .services-h1,
    .hire-me-text .hire-h1,
    .linkedin-rec-text .linkedin-h1 {
        font-size: clamp(1.7rem, 5vw, 2rem);
    }

    .services-flip-card-back .services-icon:not(.wcag) {
        width: 28px;
        height: 28px;
    }

    .hire-me-skills .services-icon {
        width: 28px;
        height: 28px;
        padding-bottom: 50px;
        padding-right: 30px;
    }

    .services-flip-card-back h3 {
        font-size: 1.2rem;
        padding-top: 0.5rem;
        margin-top: 1.2rem;
    }

    .services-flip-card-back .services-icon-container{
        padding: 0.9rem;
        line-height: 1.1rem;
    }

    .hire-me-skills .services-icon-container{
        padding: 0.1rem;
        line-height: 3rem;

    }

    .services-step {
        flex: 0 0 100%;
        margin: 0;
    }

    .services-step-icon {
        width: 30px;
        height: 30px;
        font-size: 14px;
    }

    .contact-intro .contact-h1 {
        font-size: clamp(1.7rem, 2vw, 2rem);
        margin-bottom: 0;
    }    

    .linkedin-truncated-content {
        -webkit-line-clamp: 4;
        line-clamp: var(-webkit-line-clamp);
    }   
}

@media screen and (max-height: 384px) {   
    .services-flip-card-back h3 {
        font-size: 1.2rem;
        padding-top: 0.5rem;
        margin-top: 1.2rem;
    }
    
    .services-icon-container{
        padding-top: 0.5rem;
        padding-bottom: 1.4rem;
        padding-right: 0.5rem;
        line-height: 0.5rem;
    }

    .services-icon:not(.wcag) {
        width: 26px;
        height: 26px;
    }

    .services-flip-card-back .services-icon-container .wcag  img{
        width: auto;
        height: 38px;
        background-blend-mode: lighten;
    }

    .services-step {
        flex: 1 1 100%;
        padding: 0.5px;
        margin: 0 0;
    }

    .preview-modal iframe {
        height: 230px;
    }

    .services-text .services-h1,
    .hire-me-text .hire-h1,
    .linkedin-rec-text .linkedin-h1 {
        font-size: clamp(1.7rem, 5vw, 2rem);
    }

    .linkedin-logo {
        width: 7rem;
        height: 7rem;
        margin: 0 0.4rem 0 0.1rem;
    }
  
    .linkedin-truncated-content {
        -webkit-line-clamp: 4;
        line-clamp: var(-webkit-line-clamp);
    }

    .linkedin-card {
        margin-bottom: 50px;
    }
    
    .linkedin-rec-section {
        padding-bottom: 1rem;
    }

    .contact-intro .contact-h1 {
        font-size: clamp(1.7rem, 2vw, 2rem);
        margin-bottom: 0;
    } 
}
